@page
@model IndexModel
@{
    ViewData["Title"] = "Basic Website";
}

<!DOCTYPE html>
<html>
<head>
    <title>My Music Page</title>
</head>
<body>
    <div id="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/ggegd6cAO10" frameborder="0" allowfullscreen></iframe>
    </div>


    <h1>Welcome to My Music Page</h1>

</body>
</html>